{
  "$schema": "https://playground.wordpress.net/blueprint-schema.json",
  "preferredVersions": {
    "php": "8.2",
    "wp": "latest"
  },
  "steps": [
    {
      "step": "login"
    },
    {
      "step": "installPlugin",
      "pluginData": {
        "resource": "url",
        "url": "https://github-artifact-proxy.workers.dev/?owner={{plugin_github_owner}}&repo={{plugin_slug}}&artifact=plugin-zip&file={{plugin_slug}}.zip"
      },
      "options": {
        "activate": true
      }
    }
  ]
}
