=== {{plugin_name}} ===
Contributors: (this should be a list of wordpress.org userid's)
Tags:
Requires at least: 6.4
Tested up to: {{plugin_tested_up_to}}
Requires PHP: 8.1
Stable tag: 0.1.0
License: GPL-2.0-or-later
License URI: https://www.gnu.org/licenses/gpl-2.0.html

{{plugin_description}}

== Description ==

{{plugin_description}}

== Installation ==

1. Upload the plugin files to the `/wp-content/plugins/{{plugin_slug}}` directory,
   or install the plugin through the WordPress plugins screen directly.
2. Activate the plugin through the 'Plugins' screen in WordPress.

== Changelog ==

= 0.1.0 =
* Initial release.
