.git
.gitignore
.gitattributes
.github
.distignore
.editorconfig
.phpcs.xml.dist
.phpunit.cache
node_modules
vendor
tests
phpunit.xml
phpstan.neon
phpstan-bootstrap.php
composer.lock
package.json
package-lock.json
playwright.config.ts
playwright-report
playwright-visual-report
test-results
